﻿@inject UserManager<ShopWebApp.Infra.Models.Identity.ApplicationUser> UserManager
@model ShopWebApp.Infra.Models.Identity.ApplicationUser
@{

    ViewData["Title"] = "Confirm email";
    var isEmailConfirmed = await UserManager.IsEmailConfirmedAsync(Model);
}

<h2>@ViewData["Title"]</h2>


<div>
    @if (isEmailConfirmed)
    {
        <p>
            Thank you for confirming your email.
            <a href="@ViewData["ReturnUrl"]">Go to previous page</a>
        </p>
    }
    else
    {
        <p>
            Please confirm your email!
        </p>
    }
</div>
